<div>
  <link href="./header-full.css" rel="stylesheet" />
  <div class="header-full-header">
    <nav class="header-full-nav">
      <div class="header-full-container">
        <a href="index.html" class="header-full-link">HumanTech Institute</a>
        <div class="header-full-menu">
          <a href="index.html" class="header-full-navlink Large">Home</a>
          <a href="profile.html" class="header-full-navlink1 Large">Profile</a>
          <a href="coming-soon.html" class="header-full-navlink2 Large">
            Coming Soon
          </a>
        </div>
        <div class="header-full-container1">
          <div class="header-full-container2">
            <a href="contacto.html" class="header-full-navlink3">
              <div class="primary-pink-button-container">
                <button class="primary-pink-button-button button ButtonSmall">
                  <span>buy now</span>
                </button>
              </div>
            </a>
          </div>
          <div data-role="BurgerMenu" class="header-full-burger-menu">
            <svg viewBox="0 0 1024 1024" class="header-full-icon">
              <path
                d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
              ></path>
            </svg>
          </div>
        </div>
        <a href="index.html" class="header-full-navlink4">
          <img
            alt="image"
            src="public/image%20(101)-200w.png"
            class="header-full-image"
          />
        </a>
      </div>
    </nav>
  </div>
</div>
